.card-header{
    font-size: 11px;
    font-weight: 500;
    background-color: white;
    height: 56px;
    h5{
        margin: 0;
        font-size: 14px;
    }
<<<<<<< HEAD
}
.card-body{
}

@media only screen and (max-width: 1200px) { 
    .card-body{
        flex-wrap: wrap;
        justify-content: center;
    }
}
=======
}
>>>>>>> c8e2d224b4bda4bef418eabef325dfeeb3ca4c78
