.navbar-collapse{
    justify-content: center;
    padding-top: 0px !important;
    ul{
        li {
        padding: 0px 20px 0px 20px;
        font-size: 14px;
        font-weight: 600;
        }
    }   
}
.hamburger-icon{
    margin: 0px 20px 0px 20px;
}
.left-navbar{
    .cart-items{
        a{
            font-size: 11px;
            margin: 0px 5px 0px 5px;
        }
        .badge{
            border-radius: 50%;
            padding: 8px 10px 8px 10px;
            background-color: rgb(165, 165, 165);

        }
    }
    .btn-outline-dark{
        padding: 5px 30px 5px 30px;
        margin-left: 20px;
        font-size: 11px;
        text-align: center;
        border-radius: 50px;
    }
}
