<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-toggler-icon hamburger-icon"></span>
    <a class="navbar-brand" href="#"><img src="../assets/img/Portland.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Delivery & Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Guarantee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
    <div class="left-navbar">
      <span class="cart-items">
        <fa-icon [icon]="faShoppingCart"></fa-icon><a>CART</a><span class="badge badge-secondary">0</span>
      </span>
      <button type="button" class="btn btn-outline-dark">SIGN IN</button>
    </div>
    </div>
  </nav>