.producats-search{
    margin-top: 50px;
    background-color: white !important;
    border-radius: 5px;
    height: 70px;
    align-items: center;
    display: flex;
    font-size: 11px;
    color: #A1A8BD;

}